{% extends 'pages/main.html' %} {% load static %} {% block content %}
<div>
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Arakkha Stars</title>
      <link rel="stylesheet" href="{% static 'css/main.css' %}" />
      <link rel="stylesheet" href="{% static 'css/media-query.min.css/' %}" />
      <!-- Boxicons CSS -->
      <link
        href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
        rel="stylesheet"
      />
      <!-- Custom Css Link -->
      <!-- <link rel="stylesheet" href="style.css" />
      Media Query Link
      <link rel="stylesheet" href="media-query.min.css" /> -->
    </head>
    <body>
      <!-- Main -->
      <div>
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
      </div>
      <main>
        <div class="main-container">
          <!-- start header content  -->
          <div class="header-content">
            <div class="row">
              <div class="col-lg-2" style="letter-spacing: 3px">
                <span style="font-weight: bold">BREAKING NEWS >></span>
              </div>
              <div class="col-lg-10">
                <marquee
                  >{% for marquee in marquee_title %}<span class="px-20"
                    >{{marquee.title}}</span
                  >{% endfor %}</marquee
                >
              </div>
            </div>
          </div>
          <div class="row pt-20">
            <div class="col-lg-9">
              <div class="row">
                {% for headerpost in heder_content_post %}
                <div class="col-lg-5">
                  <img
                    src="{{headerpost.image.url}}"
                    class="img-fluid"
                    alt=""
                  />
                </div>

                <div class="col-lg-7">
                  <h2>
                    <a
                      href="{% url 'detail_page' headerpost.slug %}"
                      class="text-dark hover-link"
                      >{{headerpost.title}}</a
                    >
                  </h2>
                  <div class="py-20">
                    <div class="category">
                      <a href="{% url 'detail_page' headerpost.slug %}"
                        ><span>{{headerpost.category}}</span></a
                      >
                      <span
                        >Uploaded by {{headerpost.created|date:'M d,Y'}}</span
                      >
                    </div>
                  </div>
                  <p class="py-5 line-height-20">
                    {{headerpost.long_content | truncatechars:200}}
                  </p>
                  <div class="py-10">
                    <a
                      href="{% url 'detail_page' headerpost.slug %}"
                      class="btn btn-read-more"
                      >Read More</a
                    >
                  </div>
                </div>
              </div>
              {% endfor %}
              <!--end header content -->
              <!-- start all categories -->
              <div class="py-20">
                {% include 'main_component/related_categories.html' %}
              </div>
              <!-- end all categories -->
              <!-- start eachcategories -->
              {% include 'main_component/eachcategories.html' %}
              <!-- end eachcategories -->
            </div>
            <!-- Left Panel -->
            
            <div class="col-lg-3">
              {% if posts %}
              <!-- Search Form -->
              <form action="" autocomplete="off">
                <input
                  type="search"
                  name="search"
                  class="w-100 form-search"
                  placeholder="Search here..."
                  id=""
                />
              </form>
              {% else %}
              <div>
                <h2>Sorry!Your Search Not Found Here</h2>
              </div>
              {% endif %}
              <!-- End Search Form -->
              <div class="header-name py-20">
                <span>TOP VIEWS</span>
              </div>
              {% for post in top_views_post  %}
              <div class="row" style="margin-top: 20px">
                <div class="col-lg-4">
                  <img src="{{post.image.url}}" class="img-fluid" alt="" />
                </div>
                <div class="col-lg-8">
                  <div>{{post.title}}</div>
                  <div>{{post.short_content | truncatechars:50}}</div>
                </div>
              </div>
              <div>
                <h5>Views :{{post.views}}</h5>
              </div>
              <hr />
              {% endfor %}
              <div class="header-name py-20">
                <span>TYPE OF NEWS </span>
              </div>
              <div class="tag">
                <div class="row" style="gap: 0">
                  {% for category in categories %}
                  <div class="col-lg-2 mt-10">
                    <a
                      href="{% url 'eachcategories_page' category.slug %}"
                      style="
                        color: #fff;
                        background-color: #000;
                        padding: 5px 10px;
                      "
                      >{{category.name}}</a
                    >
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <!-- End Left Panel -->
          </div>
        </div>
      </main>
      <!-- End Main -->

      <!-- Jquery Link -->
      <script src="{% static 'js/Jquery.min.js/' %}"></script>
      <!-- Custom JavaScript Link -->
      <script src="{% static 'js/script.js/' %}"></script>
    </body>
  </html>
</div>
{% endblock content %}
